<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical center online registration system</title>
    <link rel="stylesheet" href="../../public/style.css">
    <link rel="stylesheet" href="../../public/main_style.css">
</head>
<body>
    <div class="scrollmenu">
        <a href="app/patients">Home</a>
        <a href="auth/logout">Logout</a>
        
      </div>
      <%- body%>
</body>

</html>

