<!DOCTYPE html>
<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../main_style.css">
<title>Medical center online registration system</title>
</head>
<body>

<div class="scrollmenu">
  <a href="/app/patients">Home</a>
  
  <a href="/auth/logout">LogOut</a>
</div>

    <%- body%>
</body>
</html>

